/* src/components/Navbar.css */
.navbar {
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start; /* Центрируем по левому краю */
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link:hover {
    text-decoration: underline;
}
